body {
  margin: 0;
  padding: 0;
  height: 100vh;
  border: 0.5vh solid rgb(0, 0, 0);
  background: rgb(0, 128, 2);
  overflow: hidden;
  font-size: 4vh;
  font-family:'Lucida Grande';
  font-weight: 400;
}

header {
  background: rgb(128, 128, 0);
  height: 8vh;
  border-bottom: 0.5vh solid rgb(0, 0, 0);
}

.square {
  background: rgb(254, 0, 0);
  width: 14vh;
  height: 14vh;
  border: 0.5vh solid rgb(0, 0, 0);
  transform: rotate(45deg);
  margin: 18vh 0 0 4vh;
}

.square--1 {
  margin: 4vh 0 0 0;
}

.rectangle {
  background: rgb(19, 0, 255);
  border: 0.5vh solid rgb(0, 0, 0);
  height: 1vh;
  width: 14vh;
}

.rectangle--big {
  background: rgb(19, 0, 255);
  border: 0.5vh solid rgb(0, 0, 0);
  height: 34vh;
  width: 18vh;
}

.rectangle__text {
  margin-top: 4vh;
}

.oval {
  background: rgb(0, 128, 128);
  border: 0.5vh solid rgb(0, 0, 0);
  height: 10vh;
  width: 11vh;
  border-radius: 50%;
}

.items__container {
  display: flex;
}

.items__container--1 {
  display: flex;
  margin: 6vh 0 0 1vh;
  gap: 4vh;
}

.items__container--2 {
  margin: 4vh 0 0 6vh;
  display: flex;
  text-align: center;
}

.block__container {
  display: flex;
  flex-direction: column;
}

.rectangle__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vh
}